.title{
    text-align: left;
    margin-left: 20px;
    color:white;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 20px;
    font-family: "Poppins";
}

.section {
    background-color: black;
    height:1200px;
    width:100%vw;
    padding: 20px;


}

.button{
    background-color: black;
    border: none;
    color:#34C94B;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.horizontalline {
        width: 100%vw;
        height: 1px;
        margin-top: 20px; /* Adjust as needed */
        margin-bottom: 20px; /* Adjust as needed */
        background-color:#34C94B
      }


      .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 10px;
        font-weight: 500;
      }
      
      .header > h3 {
        font-weight: 500;
      }
      
      .toggleText {
        cursor: pointer;
        font-weight: 500;
        color: var(--color-primary);
      }
      
      .wrapper {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        padding: 0 20px;
      }
      
      .cardWrapper {
        margin-top: 18px;
      }
      
      .loader {
        text-align: center;
      }
      
