.sectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0px 30px 30px;
    background-color: black;
    color:white
  }
  
  .border {
    border: 1px solid green;
  }

  .horizontalline {
    width: 100%vw;
    height: 1px;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
    background-color:#34C94B
  }